%footer
  .footer-top
    %ul.footer-links
      %li.nav-item
        %a.nav-link{href: "/"} Contáctenos
      %li.nav-item
        %a.nav-link{href: "#"} Política de Privacidad
      %li.nav-item
        %a.nav-link{href: "mailto:tecnas@tecnas.com.co"}  tecnas@tecnas.com.co
    %ul.footer-images
      %li
        %a.nav-link{href: "/"}
          %img{src: "assets/img/logos/footer_1.png"}
      %li
        %a.nav-link{href: "/"}
          %img{src: "assets/img/logos/footer_2.png"}
      %li
        %a.nav-link{href: "/"}
          %img{src: "assets/img/logos/footer_3.png"}
      %li
        %a.nav-link{href: "/"}
          %img{src: "assets/img/logos/footer_4.png"}
  .footer-bottom
    %span Powered by Sigma 2020