.fixed-buttons
  %a.whatsapp{ href: "http://api.whatsapp.com/send?phone=5744443569", target: "blank" }
    %img{ src: "assets/img/icons/whatsapp.png" }
.js-gotop
  %img{ src: "assets/img/icons/arrow_top.png" }