.page-header{ style: "background-image: url(assets/img/page-header-about.jpg)"}
  .container
    .page-header-content
      %h1 Titulo de pagina
      %p Lorem Ipsum is simply dummy text of the printing and typesetting industryLorem Ipsum has been the industry's standard dummy text ever.