html.fa-events-icons-ready {margin-top: 0!important;}
#wpadminbar {display:none !important;}
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Aller-Bold";
  src: url("../fonts/aller/aller.bold.ttf");
}

@font-face {
  font-family: "Aller-Regular";
  src: url("../fonts/aller/aller.regular.ttf");
}

@font-face {
  font-family: "Aller-Light";
  src: url("../fonts/aller/aller.light.ttf");
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica/Helvetica.ttf");
}

@font-face {
  font-family: "Helvetica-Bold";
  src: url("../fonts/helvetica/Helvetica-Bold.ttf");
}

@font-face {
  font-family: "Helvetica-Light";
  src: url("../fonts/helvetica/helvetica-light-587ebe5a59211.ttf");
}

@font-face {
  font-family: "Aller-Bold";
  src: url("../fonts/aller/aller.bold.ttf");
}

@font-face {
  font-family: "Aller-Regular";
  src: url("../fonts/aller/aller.regular.ttf");
}

@font-face {
  font-family: "Aller-Light";
  src: url("../fonts/aller/aller.light.ttf");
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica/Helvetica.ttf");
}

@font-face {
  font-family: "Helvetica-Bold";
  src: url("../fonts/helvetica/Helvetica-Bold.ttf");
}

@font-face {
  font-family: "Helvetica-Light";
  src: url("../fonts/helvetica/helvetica-light-587ebe5a59211.ttf");
}


input:focus {
  outline: none;
}

body {
  color: #303030;
}

a:hover {
  text-decoration: none;
}

.navbar-top {
  background-color: #fff;
  padding: 12px 108px;
  justify-content: space-between;
}

.navbar-top .navbar-brand img {
  width: 170px;
}

.navbar.navbar-bottom {
  background-color: #0071ba;
  padding: 0 85px;
}

.navbar.navbar-bottom ul.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar.navbar-bottom .nav-item {
  transition: all ease-in-out 0.2s;
  position: relative;
}

.navbar.navbar-bottom .nav-item:hover {
  background-color: #0265a5;
  transition: all ease-in-out 0.2s;
}

.navbar.navbar-bottom .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 20.3px;
  font-weight: 500;
  font-family: "Cabin", sans-serif;
  padding: 20px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  height: 100%;
}

.navbar.navbar-bottom .nav-dropdown {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.search-bar {
  width: 47%;
}

.search-bar .input-group {
  position: relative;
}

.search-bar .search-input {
  border-radius: 20px;
  border: 2px solid #48bbef;
  width: 100%;
  padding: 5px 10px;
  font-family: "Cabin", sans-serif;
}

.search-bar .input-group-text {
  border: none;
  background-color: transparent;
  color: #48bbef;
  font-size: 22px;
}

.search-bar .input-group-append {
  position: absolute;
  right: 8px;
  width: 60px;
  height: 100%;
}

.pse-logo {
  margin-left: 22px;
}

.languages {
  font-family: "Cabin", sans-serif;
  margin-right: 10px;
}

.switch-languages {
  position: relative;
  display: inline-block;
}

.switch-languages input {
  height: 40px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 40px;
}


.switch-languages label.toggle-item {
  width: 140px;
  background: transparent;
  border: 2px solid #48bbef;
  height: 52px;
  display: inline-block;
  border-radius: 26px;
  position: relative;
  transition: all 0.2s ease;
  transform-origin: 20% center;
  cursor: pointer;
  z-index: 1;
  margin-bottom: 0;
}



.switch-languages label.toggle-item .languages-label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  font-family: "Cabin", sans-serif;
  color: #000;
  font-size: 20px;
}

@media screen and (min-width: 0) and (max-width: 767px) {
	.navbar-brand {
		order: 1;
	}
	
	.navbar-top .navbar-brand img {
		width: 70px;
	}
	
	.navbar.navbar-bottom {
		padding: 0;
	}
	
	.search-bar {
		order: 3;
		width: 100%;
	}
	
	.pse-logo {
		display: none;
	}
	
	.languages {
		order: 2;
    	margin-right: 0;
	}
	
	.navbar-top {
		padding: 20px;
	}
	
	.navbar.navbar-bottom .nav-link {
		padding: 10px;
		font-size: 14px;
	}
	
	.navbar-toggler {
		margin: 10px;
	}
	
	.navbar-toggler i {
		color: #fff;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {	
	.navbar-top .navbar-brand img {
		width: 120px;
	}
	
	.search-bar {
		width: auto;
	}
	
	.navbar-top {
		padding: 20px;
	}
	
	.navbar.navbar-bottom {
		padding: 0;
	}
	
	.navbar.navbar-bottom .nav-link {
		padding: 10px;
		font-size: 14px;
	}
	
	.navbar-toggler {
		margin: 10px;
	}
	
	.navbar-toggler i {
		color: #fff;
	}
}

footer ul {
  display: inline-flex;
  margin-bottom: 0;
  padding-left: 0;
  width: 50%;
  justify-content: space-around;
}

.footer-top {
  background-color: #f1f2f4;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-top .footer-links .nav-item {
  border-right: 2px solid #979797;
  padding: 0 20px;
  list-style: none;
	    display: flex;
    align-items: center;
	text-align: center;
	justify-content: center;
}

.footer-top .footer-images li {
  padding: 0 20px;
  list-style: none;
  width: 25%;
}

.footer-top .nav-link {
  color: #717471;
  font-weight: bold;
  padding: 0;
  font-size: 18px;
}

.footer-top img {
  height: 130px;
  width: 100%;
  object-fit: contain;
}

.footer-bottom {
  background-color: #d3d6dd;
  padding: 50px 0;
  text-align: center;
}

.footer-bottom span {
  color: #202c3a;
  font-weight: 500;
  font-size: 14px;
}

@media screen and (min-width: 0) and (max-width: 767px) {
	.multi-level .level-2 {
    box-shadow: 1px 1px 5px 0 rgba(163, 163, 163, 0.2);
    border-radius: 10px;
    width: 100%;
}
	.multi-level .level-1.show{
		flex-direction:column;
	}
	.multi-level{
		width:100%;
	}
	.footer-top {
		padding: 40px 20px;
		flex-direction: column;
	}
	
	.footer-links {
		flex-direction: column;
		text-align: center;
		margin-bottom: 10px;
	}
	
	.footer-top .footer-links .nav-item {
		border-right: none;
		padding: 5px 20px;
	}
	
	.footer-top .nav-link {
		font-size: 15px;
	}
	
	footer ul {
		width: 100%;
	}
	
	footer ul.footer-images {
		flex-wrap: wrap;
	}
	
	.footer-top .footer-images li {
		width: 50%;
	}
	
	.footer-top .footer-images li img {
		object-fit: contain;
		height: 100px;
	}
	
	.footer-bottom {
		padding: 20px 0;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.footer-top {
		flex-direction: column;
	}
	
	footer ul {
		width: 100%;
	}
}

@media screen and (min-width: 992px) and (max-width: 1024px) {	
	.navbar-top {
		padding: 12px 20px;
	}
	
	.navbar.navbar-bottom {
		padding: 0 10px;;
	}
	
	.navbar.navbar-bottom .nav-link {
		font-size: 18px;
		padding-right: 5px;
		padding-left: 5px;
	}
	
	.footer-top {
		flex-wrap: wrap;
	}
	
	footer ul {
		width: 100%;
	}
	
	.footer-top .footer-links .nav-item {
		border-right: none;
	}
	
	.footer-links {
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1310px) {	
	.navbar-top {
		padding: 12px 50px;
	}
	
	.navbar.navbar-bottom {
		padding: 0;
	}
	
	.navbar.navbar-bottom .nav-link {
		font-size: 18px;
	}
}

.collapse li {
  position: relative;
}

.dropdown-toggle::after {
  content: unset;
}

.multi-level {
  width: 130%;
  padding: 0;
  margin: 0;
  border: none;
}

.multi-level .multi-level-nav-item {
  text-transform: uppercase;
  background-color: #0071ba;
  margin-bottom: 3px;
  font-family: "Helvetica-Bold";
}

.multi-level .multi-level-nav-item a {
  padding: 10px;
  font-size: 13px !important;
  color: #fff !important;
  font-weight: 500;
  display: inline-block;
}

.multi-level .multi-level-nav-item a:hover {
  text-decoration: none;
}

.multi-level .collapse {
  background-color: #fff;
}

.multi-level .collapse-nav-item {
  list-style: none;
  text-transform: none;
  font-size: 13px;
  font-family: "Helvetica-Bold";
  transition: all ease-in-out 0.2s;
}

.multi-level .collapse-nav-item:hover {
  background-color: rgba(22, 45, 80, 0.13);
  transition: all ease-in-out 0.2s;
}

.multi-level .collapse-nav-item:hover a {
  text-decoration: none;
}

.multi-level .collapse-nav-item a {
  color: #162d50;
  font-size: 12px;
  padding: 10px;
  display: inline-block;
}

.multi-level .collapse-list {
  padding-left: 0;
}

.multi-level .level-1 {
  left: 100%;
  top: 0;
  padding: 0;
  border: none;
  min-width: unset;
  margin-top: 0;
}

.multi-level .level-1.show {
  display: flex;
}

.multi-level .level-2 {
  box-shadow: 1px 1px 5px 0 rgba(163, 163, 163, 0.2);
  border-radius: 10px;
  width: 250px;
}

.multi-level .level-2 .menu-header {
  background-color: #0071ba;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  padding: 0;
}

.multi-level .level-2 .menu-header a {
	color: #fff;
}

.multi-level .level-2 ul {
  padding-left: 0;
}

.multi-level .level-2 li {
  list-style: none;
  transition: all ease-in-out 0.2s;
}

.multi-level .level-2 li:hover {
  background-color: rgba(22, 45, 80, 0.13);
  transition: all ease-in-out 0.2s;
}

.multi-level .level-2 li:hover a {
  text-decoration: none;
}

.page-container {
  padding: 110px;
}

.section-title {
  text-align: center;
}

.section-title.left {
  text-align: left;
}

.section-title h1 {
  font-family: "Aller-Bold";
  color: #033255;
  font-size: 40px;
  text-transform: capitalize;
}
/*.section-title h1{
  font-family: "Aller-Bold";
  color: white;
  font-size: 40px;
  text-transform: capitalize;
}*/

.section-title p {
  width: 60%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.56;
  font-family: "Helvetica";
  color: #303030;
  margin-top: 40px;
}

@media screen and (max-width: 767px) and (min-width: 0) {
	.page-container {
		padding: 50px 20px;
	}
	
	.section-title h1 {
		font-size: 28px;
	}
	
	.section-title p {
		width: 100%;
		font-size: 14px;
		line-height: 1.3;
		margin-top: 20px;
	}
	.multi-level .level-2 {
    box-shadow: 1px 1px 5px 0 rgba(163, 163, 163, 0.2);
    border-radius: 10px;
    width: 100%;
		    background-color: #e1e3e8;
}
	.multi-level .level-1.show{
		flex-direction:column;
	}
	.multi-level{
		width:100%;
	}
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
	.page-container {
		padding: 90px 40px;
	}
}

.btn-custom {
  border-radius: 28px;
  background-color: #62cbf0;
  color: #fff;
  text-transform: uppercase;
  font-family: "Aller-Bold";
  font-size: 15px;
  padding: 13px 40px;
  transition: all ease-in-out 0.2s;
  border-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-custom:focus {
	outline: none;
	box-shadow: none;
}

.btn-custom.large {
  font-size: 20px;
  width: auto;
  border-radius: 32px;
  padding: 13px 59px;
}

.btn-custom.btn-dark {
	background-color: #0071ba;
	margin-top: 10px;
}

.btn-custom:hover {
  color: #fff;
  background-color: #033255;
  transition: all ease-in-out 0.2s;
}

ul.share-social {
  display: inline-flex;
  margin-top: -12px;
  margin-bottom: 0;
}

ul.share-social li {
  border: 1px solid #58248d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  margin-right: 24px;
}

ul.share-social li a {
  color: #58248d;
  font-size: 22px;
}

ul.share-social li a:hover {
  color: #58248d;
  text-decoration: none;
}

@media screen and (min-width: 0) and (max-width: 767px) {
	ul.share-social {
		margin-top: 0;
		width: 100%;
		padding-left: 0;
	}

	ul.share-social li {
		margin-right: unset;
		margin: 12px;
	}
}

.breadcrumb {
  background-color: transparent;
  padding: 10px 0;
}

.breadcrumb .breadcrumb-item,
  .breadcrumb .breadcrumb-item.active {
  font-family: "Aller-Bold";
  text-transform: uppercase;
  font-size: 13px;
  color: #033255;
}

.breadcrumb .breadcrumb-item a,
    .breadcrumb .breadcrumb-item.active a {
  color: #033255;
}

.breadcrumb .breadcrumb-item a:hover,
      .breadcrumb .breadcrumb-item.active a:hover {
  color: #0265a5;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: #033255;
}

.dropdown-menu.one-level {
  background-color: #fff;
  border: none;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.13);
  margin: 0;
  width: 100%;
  padding: 0;
}

.dropdown-menu.one-level li {
  font-family: "Helvetica-Bold";
  font-size: 13.5px;
  padding: 8px 10px 8px 20px;
}

.dropdown-menu.one-level li:hover {
  background-color: #162d50;
}

.dropdown-menu.one-level li:hover a {
  color: #fff;
  text-decoration: none;
}

.dropdown-menu.one-level li a {
  color: #162d50;
}

.pse-logo img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.section-title.left {
  margin-bottom: 50px;
}

.main-contact {
  padding: 90px 0;
}

label {
  font-family: "Aller-Bold";
  color: #303030;
  font-size: 18px;
}

.input-group {
  position: relative;
  border-radius: 4px;
}

.input-group span {
  position: absolute;
  margin-left: 14px;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
  border-radius: 4px;
}

.input-group span img {
      width: 20px;
    height: 16px;
  object-fit: contain;
}

.input-group .form-control {
  z-index: 1;
  border-radius: 4px;
  border: solid 1px #dee2e6;
  background-color: #fdfdfd;
  font-family: "Aller-Regular";
  color: #6d7278;
  padding: 10px 10px 10px 40px;
}

.input-group .form-control::placeholder {
  font-family: "Aller-Regular";
  color: #6d7278;
}

.input-group .form-control:focus {
  z-index: 1;
  outline: none;
  box-shadow: none;
}

.input-group input.form-control {
  height: 41px;
}

.input-group textarea {
  resize: none;
}

.input-group > .custom-select:not(:first-child),
.input-group > .form-control:not(:first-child) {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.contact-form {
    padding-right: 85px;
    padding-left: 50px;
}

.contact-info {
  padding-left: 40px;
  border-left: solid 2px #e8e8e8;
}

.contact-info-vertical,
.contact-info-horizontal {
  list-style: none;
}

.contact-info-vertical li {
  margin: 65px 0;
  display: flex;
  align-items: center;
}

.contact-info-vertical div {
  display: flex;
  flex-direction: column;
}

.contact-info-vertical div span {
  font-family: "Aller-Bold";
  color: #000;
  font-size: 22px;
  margin-left: 25px;
}

.contact-info-vertical div a {
  color: #303030;
  font-size: 18px;
	font-family: "Aller-Bold";
	margin-left: 25px;
}

.contact-info-horizontal {
  display: inline-flex;
}

.contact-info-horizontal li {
  margin-right: 26px;
}

.customer-service-form {
  padding-left: 130px;
}

option {
  color: #162d50;
  font-family: "Aller-Regular";
}

option:hover {
  background-color: #48bbef;
}

label {
  position: relative;
}

.file-input {
  color: transparent;
  background-color: transparent;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  z-index: 100;
}

div.asl_w .probox .promagnifier {
	margin-right: 12px;
}

div.asl_m .probox .promagnifier .innericon {
	width: 25px !important;
}

#frm_form_3_container .input-group i,#frm_form_7_container .input-group i, #frm_form_6_container .input-group i,#frm_form_2_container .input-group i,
#frm_form_4_container .input-group i, #frm_form_5_container .input-group i{
	color: #48bbef;
}
#frm_field_52_container{
	position: relative;
}
#frm_field_52_container i {
    position: absolute;
    left: 0.9rem;
    top: 3rem;
    color: #5abbef;
}
select {
    text-transform: none;
    z-index: 1;
    border-radius: 4px;
    border: solid 1px #dee2e6;
    background-color: #fdfdfd;
    font-family: "Aller-Regular";
    color: #6d7278;
    padding: 10px 10px 10px 40px;
    width: 100%;
}
.main-contact__text {
  font-family: "Aller-Bold";
  color: #000;
  font-size: 22px;
  margin-left: 25px;
}
.main-contact__text a {
    color: #303030;
  font-size: 18px;
	font-family: "Aller-Bold";
}

@media screen and (min-width: 0px) and (max-width: 767px) {
	.contact-form {
		padding-right: 20px;
		padding-left: 20px;
	}

	.contact-info {
		padding-left: 0;
		border-left: none;
	}
	
	.contact-info-horizontal {
		width: 100%;
		justify-content: center;
		padding-left: 0;
	}
	
	.contact-info-horizontal li {
		margin-right: unset;
		margin: 0 13px;
	}
	
	.contact-info-vertical {
		padding-left: 0;
	}
	
	.contact-info-vertical li {
		margin: 35px 0;
		flex-direction: column;
		text-align: center;
	}
	
	.main-contact__text {
		font-size: 19px;
		margin-left: 0;
	}
	
	.main-contact__text a {
		font-size: 15px;
	}
	
	.customer-service-form {
		padding-left: 0;
	}
}

div.asl_w .probox .promagnifier {
	margin-right: 10px !important;
	height: 32px !important;
}

#ajaxsearchlite1 .probox, div.asl_w .probox {
	height: 32px !important;
}

div.asl_m .probox .promagnifier .innericon svg {
	width: 25px !important;
}

.customer-service-text .section-title.left {
	margin-bottom: 30px;
}

.slick-slide:focus, a:focus {
	outline: none;
}