@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Aller-Bold";
  src: url("../fonts/aller/aller.bold.ttf");
}

@font-face {
  font-family: "Aller-Regular";
  src: url("../fonts/aller/aller.regular.ttf");
}

@font-face {
  font-family: "Aller-Light";
  src: url("../fonts/aller/aller.light.ttf");
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica/Helvetica.ttf");
}

@font-face {
  font-family: "Helvetica-Bold";
  src: url("../fonts/helvetica/Helvetica-Bold.ttf");
}

@font-face {
  font-family: "Helvetica-Light";
  src: url("../fonts/helvetica/helvetica-light-587ebe5a59211.ttf");
}

@font-face {
  font-family: "Aller-Bold";
  src: url("../fonts/aller/aller.bold.ttf");
}

@font-face {
  font-family: "Aller-Regular";
  src: url("../fonts/aller/aller.regular.ttf");
}

@font-face {
  font-family: "Aller-Light";
  src: url("../fonts/aller/aller.light.ttf");
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica/Helvetica.ttf");
}

@font-face {
  font-family: "Helvetica-Bold";
  src: url("../fonts/helvetica/Helvetica-Bold.ttf");
}

@font-face {
  font-family: "Helvetica-Light";
  src: url("../fonts/helvetica/helvetica-light-587ebe5a59211.ttf");
}
.wpmm_megamenu .wp-megamenu-main-wrapper.wpmm-ctheme-wrapper.wpmega-default-theme, .wpmm_megamenu .wp-megamenu-main-wrapper.wpmm-ctheme-wrapper.wpmega-default-theme ul.wpmm-mega-wrapper, .wpmm_megamenu .wp-megamenu-main-wrapper.wpmm-ctheme-wrapper.wpmega-default-theme.wpmm-orientation-horizontal, .wpmm_megamenu .wp-megamenu-main-wrapper.wpmm-ctheme-wrapper.wpmega-default-theme.wpmm-orientation-vertical {

    background-color: #0071ba !important;
}


#wpmm-wrap-top_menu{ 
    background-color: #0071ba;
    padding: 0 85px;
}
.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
	 list-style: none;
}
.menu-item {
    transition: all ease-in-out 0.2s;
    position: relative;
	 list-style: none;
}
.menu-item a{
      color: #fff;
    text-transform: uppercase;
    font-size: 20.3px;
    font-weight: 500;
    font-family: "Cabin", sans-serif;
    padding: 20px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
#menu-item-1007{
text-transform: uppercase;
    background-color: #0071ba;
    margin-bottom: 3px;
    font-family: "Helvetica-Bold";
}



input:focus {
  outline: none;
}

body {
  color: #303030;
}

a:hover {
  text-decoration: none;
}
#slick-slide00 > div.featured-card-info > p:nth-child(3) > a > span{
  display: none !important;
}
.widget_polylang ul{
      display: flex;
    list-style: none;
    margin-right: 40px;
    margin-top: 1rem;
}
li.lang-item.lang-item-5.lang-item-es.current-lang.lang-item-first{
    margin-right: 1.3rem !important;
}
li.lang-item.lang-item-5.lang-item-es.lang-item-first{
    margin-right: 1.3rem;
}
li.lang-item.lang-item-2.lang-item-en.lang-item-first a, li.lang-item.lang-item-5.lang-item-es.current-lang a{
  color: black !important;
}
li.lang-item.lang-item-2.lang-item-en a{
	color: black !important;
}
li.lang-item.lang-item-2.lang-item-en.current-lang a{
	 color: black !important;
}
li.lang-item.lang-item-5.lang-item-es a{
  color: black !important;
}
.navbar-top {
  background-color: #fff;
  padding: 15px 100px;
  justify-content: space-between;
}

.navbar-top .navbar-brand img {
  width: 170px;
}

.navbar-sticky {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	    z-index: 9999999999999;
	width: 100%;
	background-color: transparent;
    transition: .3s ease-in-out;
	height: 0;
}

.fixed {
	    transition: .1s linear;
	background-color: #0071ba!important;
     transition: .3s ease-in-out!important;
	height: auto;
	opacity: 1;
	visibility: visible;
}
.navbar-bottom__opacity1{
	opacity: 1;
	   transition: .3s ease-in-out!important;
	visibility: visible;
}
.navbar-bottom__opacity0 {
	opacity: 0;
	visibility: hidden;
	   transition: .3s ease-in-out!important;
}
.navbar.navbar-bottom ul.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar.navbar-bottom .nav-item {
  transition: all ease-in-out 0.2s;
  position: relative;
}

.navbar.navbar-bottom .nav-item:hover {
  background-color: #0265a5;
  transition: all ease-in-out 0.2s;
}

.navbar.navbar-bottom .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Cabin", sans-serif;
  padding: 20px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  height: 100%;
}

.navbar.navbar-bottom .nav-dropdown {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.search-bar {
  width: 45%;
}

.search-bar .input-group {
  position: relative;
}

.search-bar .search-input {
  border-radius: 20px;
  border: 2px solid #48bbef;
  width: 100%;
  padding: 5px 10px;
  font-family: "Cabin", sans-serif;
}

.search-bar .input-group-text {
  border: none;
  background-color: transparent;
  color: #48bbef;
  font-size: 22px;
}

.search-bar .input-group-append {
  position: absolute;
  right: 8px;
}

.languages {
  font-family: "Cabin", sans-serif;
  margin-right: 23px;
}

.switch-languages {
  position: relative;
  display: inline-block;
}


.switch-languages input {
  height: 40px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 40px;
}



.switch-languages label.toggle-item {
  width: 140px;
  background: transparent;
  border: 2px solid #48bbef;
  height: 52px;
  display: inline-block;
  border-radius: 26px;
  position: relative;
  transition: all 0.2s ease;
  transform-origin: 20% center;
  cursor: pointer;
  z-index: 1;
}

li.lang-item.lang-item-2.lang-item-en:lang(en):before {
  content: "";
  display: block;
  transition: all 0.2s ease;
  width: 65px;
  height: 36px;
  top: 50%;
  left: 65px;
  border-radius: 18px;
  background: #a3bc2d;
  transform: translateY(-50%);
  position: absolute;
  z-index: -1;
}

li.lang-item.lang-item-5.lang-item-es:lang(es):before {
  content: "";
  display: block;
  transition: all 0.2s ease;
  width: 65px;
  height: 36px;
  top: 50%;
    left: 7px;
  border-radius: 18px;
  background: #a3bc2d;
  transform: translateY(-50%);
  position: absolute;
  z-index: -1;
}

.switch-languages label.toggle-item .languages-label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  font-family: "Cabin", sans-serif;
  color: #000;
  font-size: 20px;
}

footer ul {
  display: inline-flex;
  margin-bottom: 0;
  padding-left: 0;
  width: 50%;
  justify-content: space-around;
}

.footer-top {
  background-color: #f1f2f4;
  padding: 60px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-top .footer-links .nav-item {
  border-right: 2px solid #979797;
  padding: 0 20px;
  list-style: none;
}

.footer-top .footer-images li {
  padding: 0 20px;
  list-style: none;
}

.footer-top .nav-link {
  color: #717471;
  font-weight: bold;
  padding: 0;
}

.footer-top img {
  height: 65px;
}

.footer-bottom {
  background-color: #d3d6dd;
  padding: 50px 0;
  text-align: center;
}

.footer-bottom span {
  color: #202c3a;
  font-weight: 500;
  font-size: 14px;
}

.dropdown-toggle::after {
  content: unset;
}

.multi-level {
  width: 130%;
  padding: 0;
  margin: 0;
  border: none;
}

.multi-level .multi-level-nav-item {
  text-transform: uppercase;
  background-color: #0071ba;
  margin-bottom: 3px;
  font-family: "Helvetica-Bold";
}

.multi-level .multi-level-nav-item a {
  padding: 10px;
  font-size: 13px;
	width: 100%;
  color: #fff;
  font-weight: 500;
	position: relative;
  display: inline-block;
}


.multi-level-nav-item:nth-child(1) a::after{
	    content: "\f107"!important;
		transition: .3s;
}

.multi-level-nav-item:nth-child(1) a:hover::after{
	margin-bottom: 18px;
		transition: .3s;
	
}
li.multi-level-nav-item a:first-child::after {
    content: "\f105";
	    margin-left: 8px;
		transition: .3s;
	    font: normal normal normal 14px/1 FontAwesome;
}

.multi-level-nav-item a:hover::after {
	    margin-left: 16px!important;
	transition: .3s;
}

.collapse-list a::after {
	    content: "\f105";
	    margin-left: 8px;
		transition: .3s;
	    font: normal normal normal 14px/1 FontAwesome;
}

.level-2 a::after{
	display: none;
}
.multi-level .multi-level-nav-item a:hover {
  text-decoration: none;
}

.multi-level .collapse {
  background-color: #fff;
}

.multi-level .collapse-nav-item {
  list-style: none;
  text-transform: none;
  font-size: 13px;
  font-family: "Helvetica-Bold";
  transition: all ease-in-out 0.2s;
}

.multi-level .collapse-nav-item:hover {
  background-color: rgba(22, 45, 80, 0.13);
  transition: all ease-in-out 0.2s;
}

.multi-level .collapse-nav-item:hover a {
  text-decoration: none;

}

.multi-level .collapse-nav-item a {
  color: #162d50;
  font-size: 12px;
  padding: 10px;
  display: inline-block;
	
}
.main_link__upper{
	text-transform: uppercase;
}
.multi-level .collapse-list {
  padding-left: 0;
}

.multi-level .level-1 {
  left: 100%;
  top: 0;
  padding: 0;
  border: none;
  min-width: 650px;
}

.multi-level .level-1.show {
  display: flex;
}

.multi-level .level-2 {
  box-shadow: 1px 1px 5px 0 rgba(163, 163, 163, 0.2);
  border-radius: 10px;
}

.multi-level .level-2 .menu-header {
  background-color: #0071ba;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  padding: 10px;
}

.multi-level .level-2 ul {
  padding-left: 0;
}

.multi-level .level-2 li {
  list-style: none;
  transition: all ease-in-out 0.2s;
}

.multi-level .level-2 li:hover {
  background-color: rgba(22, 45, 80, 0.13);
  transition: all ease-in-out 0.2s;
}

.multi-level .level-2 li:hover a {
  text-decoration: none;
}

.page-container {
  padding: 100px;
}

.section-title {
  text-align: center;
}

.section-title.left {
  text-align: left;
}

.section-title h1 {
  font-family: "Aller-Bold";
  color: #033255;
  font-size: 40px;
}

.section-title p {
  width: 60%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.56;
  font-family: "Helvetica";
  color: #303030;
  margin-top: 40px;
}

.btn-custom {
border-radius: 24.5px;
    background-color: #62cbf0;
    color: #fff;
    text-transform: uppercase;
    font-family: "Aller-Bold";
    font-size: 15px;
    padding: 8px 20px;
    transition: all ease-in-out 0.2s;
    border-color: transparent;
    width: 8rem;
}

.btn-custom:hover {
  color: #fff;
  background-color: #033255;
  transition: all ease-in-out 0.2s;
}

ul.share-social {
  display: inline-flex;
  margin-top: -12px;
  margin-bottom: 0;
}

ul.share-social li {
  border: 1px solid #58248d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  margin-right: 24px;
}

ul.share-social li a {
  color: #58248d;
  font-size: 22px;
}

ul.share-social li a:hover {
  color: #58248d;
  text-decoration: none;
}

.breadcrumb {
  background-color: transparent;
  padding: 10px 0;
}

.breadcrumb .breadcrumb-item,
  .breadcrumb .breadcrumb-item.active {
  font-family: "Aller-Bold";
  text-transform: uppercase;
  font-size: 13px;
  color: #033255;
}

.breadcrumb .breadcrumb-item a,
    .breadcrumb .breadcrumb-item.active a {
  color: #033255;
}

.breadcrumb .breadcrumb-item a:hover,
      .breadcrumb .breadcrumb-item.active a:hover {
  color: #0265a5;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: #033255;
}

.dropdown-menu.one-level {
  background-color: #fff;
  border: none;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.13);
  margin: 0;
  width: 100%;
  padding: 0;
}

.dropdown-menu.one-level li {
  font-family: "Helvetica-Bold";
  font-size: 14px;
  padding: 14px;
}

.dropdown-menu.one-level li:hover {
  background-color: #162d50;
}

.dropdown-menu.one-level li:hover a {
  color: #fff;
  text-decoration: none;
}

.dropdown-menu.one-level li a {
  color: #162d50;
}

.pse-logo img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.main-slider .main-slider-item {
  width: 100%;
  height: 100vh;
  position: relative;
}

.main-slider .main-slider-item:focus {
	outline: none;
}

.main-slider .main-slider-item img {
  object-fit: cover;
  object-position: right;
  width: 100%;
  height: 100%;
}

.main-slider .main-slider-item .main-slider-text {
  position: absolute;
  z-index: 1;
  bottom: 40%;
  color: #0071ba;
  font-family: "Aller-Bold";
  transform: translateY(-50%);
  left: 150px;
}

.main-slider .main-slider-item .main-slider-text h1 {
  font-size: 55px;
}

.main-slider .main-slider-item .main-slider-btn {
  background-color: #0071ba;
  color: #fff;
  border-radius: 47px;
  padding: 20px 98px;
  display: inline-block;
  font-size: 30px;
  font-family: "Aller-Bold";
  text-align: center;
  position: absolute;
  z-index: 1;
  bottom: 20%;
  left: 170px;
}

.main-slider .main-slider-item .main-slider-btn:focus {
	outline: none;
}

.main-slider .main-slider-item .main-slider-btn div {
  font-size: 25px;
  margin-top: 5px;
  text-transform: uppercase;
}

.main-slider .slick-next::before,
.main-slider .slick-prev::before {
  content: unset;
}

.main-slider .slick-next,
.main-slider .slick-prev {
  height: unset;
  width: 37px;
  z-index: 1;
  top: 48%;
}

.main-slider .slick-next {
  right: 35px;
}

.main-slider .slick-prev {
  left: 25px;
}


@media screen and (min-width: 0) and (max-width: 767px) {
	.main-slider .main-slider-item {
		height: 80vw;
	}
	
	.main-slider .main-slider-item img {
		height: 70%;
	}

	.main-slider .main-slider-item .main-slider-btn {
		font-size: 15px;
		position: relative;
		left: unset;
		bottom: unset;
		width: 100%;
		border-radius: 0;
		height: 30%;
		padding: 12px 6px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	.main-slider .main-slider-item .main-slider-btn div {
		font-size: 14px;
	}
	
	.main-slider .slick-next {
		right: 10px;
	}
	
	.main-slider .slick-prev {
		left: 10px;
	}
	
	.main-slider .slick-next, .main-slider .slick-prev {
		width: 15px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.main-slider .main-slider-item {
		height: 80vw;
	}
	
	.main-slider .main-slider-item img {
		height: 70%;
	}

	.main-slider .main-slider-item .main-slider-btn {
		font-size: 25px;
		position: relative;
		left: unset;
		bottom: unset;
		width: 100%;
		border-radius: 0;
		height: 30%;
		padding: 12px 6px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	.main-slider .main-slider-item .main-slider-btn div {
		font-size: 20px;
	}
	
	.main-slider .slick-next {
		right: 10px;
	}
	
	.main-slider .slick-prev {
		left: 10px;
	}
	
	.main-slider .slick-next, .main-slider .slick-prev {
		width: 25px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
	.main-slider .main-slider-item {
		height: 70vw;
	}
	.main-slider .main-slider-item .main-slider-btn {
		left: 80px;
	}
}

.map.map-mobile iframe{
	width: 100%;
	height: 310px;
}
.about-video iframe{
	width: 100%;
	height: 100%;
}

#frm_field_54_container{
	z-index: 1;
    border-radius: 4px;
    border: solid 1px #dee2e6;
    background-color: #fdfdfd;
    font-family: "Aller-Regular";
    color: #6d7278;
    padding: 10px 10px 10px 10px;
	display: flex !important;
}
#frm_field_54_container img{
	    width: 16px;
}
#frm_field_54_container .frm_small_text,#frm_field_54_container  .frm_clearfix {
    display: block;
  
	    width: 100%;
}
#frm_field_54_container #field_gp0tx_label{
	display: none !important;
}
.dz-message.needsclick{
	display: flex;
	color: #fff;
}


.boton-subir {
  display: none;
  position: fixed;
  right: 24px;
  bottom: 19px;
  z-index: 999999999;
	width: 36px;
    height: 36px;
    background: #0071ba;
}

.boton-subir i {
	    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
	font-size: 20px;
    color: #fff;
}

.slider-top img {
  width: 3rem;
}

.portfolio-arrow {
	position: absolute;	
	  z-index: 999999999;
	width: 36px;
    height: 36px;
    background: #0071ba;
	display: flex;
	justify-content: center;
	align-items: center;
	    top: 50%;
    transform: translateY(-50%);
}
.portfolio-arrow__left {
	left: 35px;
}
.portfolio-arrow__right {
	    right: 35px;
}

.portfolio-arrow  i {
	font-size: 20px;
    color: #fff;
}
.porfolio-details__btn {
	display: flex;
	justify-content: flex-end;
}
.porfolio-details__btn a {
	display: block;
	    background: #0071ba;
	color: #fff;
	text-align: center;
	    padding: 2px 14px;
    border-radius: 8px;
    font-weight: 600;
	
}
html {
	  scroll-behavior: smooth;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
	.portfolio-arrow__left {
    left: 0;
}
	.portfolio-arrow__right {
    right: 0;
}
	video#mivideo {
		object-fit: contain!important;
	}
	
}